<!DOCTYPE html>
<html>
	<head>
	
	</head>
	<body>
		<h1>Settings page</h1>
		<hr />
		<p>
			Applications
			<select id="Apps">
				<option value="App1">App1</option>
				<option value="App2">App2</option>
				<option value="App3">App3</option>
			</select>
		</p>
		<p>
			<input type="text" id="searchText" value="" />
			<button type="button" name="searchButton" align="right">Search!</button>
		</p>
		<hr />
		<table border="3" style="width:100%">
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>Options</th>
			</tr>
			<tr>
				<td title="This describes setting 1">Setting1</td>
				<td>Value 1</td>
				<td align="center"><button type="button" name="modifyButton" align="center">Modify</button></td>
			</tr>
			<tr>
				<td title="This describes setting 2">Setting2</td>
				<td>Value 2</td>
				<td align="center"><button type="button" name="modifyButton" align="center">Modify</button></td>
			</tr>
			<tr>
				<td title="This describes setting 3">Setting3</td>
				<td>Value 3</td>
				<td align="center"><button type="button" name="modifyButton" align="center">Modify</button></td>
			</tr>
		</table>
	</body>
</html>