<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Choice Hotels Feature Flag Console</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>
  <!-- Refactored to only have one controller. This simplified the app because all information is
  now in one place, which is good since it is interrelated - the selected system affects available
  applications, and the selected application affect displayed flags. -->
  <body ng-app="FlagConsole" ng-controller="FlagsController as flagsCtrl">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Feature Flag Console</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[flagsCtrl.systemText()]] <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-repeat="system in flagsCtrl.systems"><a href="#" ng-click="flagsCtrl.setSystem(system)">[[system]]</a></li>
                </ul>
              </li>
              <li class="dropdown" ng-class="{ disabled: !flagsCtrl.appDropdownEnabled() }">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[flagsCtrl.applicationText()]] <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-repeat="app in flagsCtrl.applications"><a href="#" ng-click="flagsCtrl.setApplication(app)">[[app]]</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" ng-submit="flagsCtrl.search()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="flagsCtrl.searchText"/>
                <input type="submit" class="btn btn-default" value="Submit"/>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <div id="flags" class="row list-group">
        <div class="item col-xs-4 col-lg-4" ng-repeat="flag in flagsCtrl.flags">
          <div class="thumbnail">
            <div class="caption">
              <h4 class="group inner list-group-item-heading">[[flag.name]]</h4>
              <p class="group inner list-group-item-text">[[flag.description]]</p>
            </div>
            <div class="row details">
              <div class="col-md-2">
                <p>Default status: <b>[[flag.default | renderstatus]]</b></p>
              </div>
              <div class="col-md-2">
                <p>Current status: <b>[[flag.current | renderstatus]]</b></p>
              </div>
              <div class="col-md-2">
                <p>Used by:
                  <a class="team" href="#" ng-repeat="team in flag.used_by">[[team]]</a>
                </p>
              </div>
              <div class="col-md-5">
                <p>Affects:
                  <a class="team" href="#" ng-repeat="team in flag.affects">[[team]]</a>
                </p>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-warning">Modify</button>
              </div>
            </div>
          </div>
        </div>
        <div class="noresults">
          <h3 class="noresults" ng-show="flagsCtrl.noSearchResults()">No Results!</h3>
        </div>
      </div>
    </div>
  </body>
</html>

